<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

        <div>
            @RenderBody()
        </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
            // start to run when document ready
             jQuery(function() {
                 jQuery('#myslider0').juicyslider();
             });

             (function ($) {
                 $.fn.goTo = function () {
                     $('html, body').animate({
                         scrollTop: $(this).offset().top + 'px'
                     }, 'slow');
                     return this;
                 }
             })(jQuery);
    </script>

</body>
</html>
